App {
  text-align: center;
}

.App-logo {
  width: 50px;
  height: 50px;
  max-width: none;
  margin: 10px 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Hide logo on mobile */
@media screen and (max-width: 768px) {
  .App-logo {
    display: none !important; /* Force hide on mobile */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .App-logo {
    width: 30px; /* Fixed width for mobile */
    height: 30px; /* Fixed height for mobile */
  }
}